<h2>User info</h2>
  <% if current_user.profile_image.attached? %>
    <%= image_tag current_user.profile_image, size: "80x80" %>
  <% else %>
    <%= image_tag 'no_image', size: "80x80" %>
  <% end %>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th><%= current_user.name %></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>introduction</th>
      <th><%= current_user.introduction %></th>
    </tr>
  </tbody>
</table>
<%= link_to "⚙", edit_user_path(current_user.id) %>