<% if @book.errors.any? %>
  <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="row">
  <div class="col-md-3">
    <h2>User info</h2>
      <% if @books.user.profile_image.attached? %>
        <%= image_tag @books.user.profile_image, size: "100x100" %>
      <% else %>
        <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
    <table class="table">
      <tbody>
        <tr>
          <th>name</th>
          <th><%= @books.user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @books.user.introduction %></th>
        </tr>
      </tbody>
    </table>
    <div class="d-grid gap-2">
      <%= link_to edit_user_path(@books.user.id) do %>
      <button type="button" class="btn btn-outline-secondary btn-sm w-100 mb-3">
        <i class="fas fa-user-cog"></i></button>
      <% end %>
    </div>
    <%= render "books/book", book: @book %>
  </div>
  <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(@books.user.id) do %>
              <% if @books.user.profile_image.attached? %>
                <%= image_tag @books.user.profile_image, size: "100x100" %>
              <% else %>
                <%= image_tag 'no_image', size: "100x100" %>
              <% end %><br>
              <%= @books.user.name %>
            <% end %>
          </td>
          <td><%= link_to @books.title, book_path(@books.id) %></td>
          <td><%= @books.body %></td>
          <% if @books.user == current_user %>
          <td>
            <%= link_to edit_book_path(@books.id) do %>
              <button type="button" class="btn bg-success text-white btn-sm ">Edit</button>
            <% end %>
          </td>
          <td>
            <%= link_to book_path(@books.id), method: :delete, "data-confirm" => "本当に消しますか？" do %>
              <button type="button" class="btn bg-danger text-white btn-sm ">Destroy</button>
            <% end %>
          </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
